.all-ocr-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ocr-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 2fr));
  gap: 20px;
  margin-bottom: 20px;
}

.ocr-item {
  cursor: pointer;
  transition: transform 0.2s;
}

.ocr-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ocr-item:hover {
  transform: scale(1.05);
}

.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pagination button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 1.2rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 70%;
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-content p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.modal-content button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.empty{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.allOcrLoading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}