.navbar {
  background: #007bff;
  padding: 1rem;
  height: 80px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 1rem;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.button {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background: #dc3545;
  color: white;
  cursor: pointer;
}

.button:hover {
  background: #c82333;
}

.logo {
  height: 100%;
}
.logo  >  img{
 height: 40px;
 width: 40px;
 border-radius: 20px;
}

.active{
  background: #c82333;
  padding: 8px;
  border-radius: 8px;
}